.order-detail-header {
  height: 64px;
  background-color: #5A82B1;
  padding: 0 22px;
  color: #FAF7FB;

  .order-name {
    font-size: 12px;
    line-height: 14px;
  }
  .order-id {
    font-size: 21px;
    line-height: 25px;
    span {
      font-size: 14px;
      margin-left: 7px;
    }
  }

  .back-icon {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }

  .order-status {
    font-size: 16px;
    line-height: 19px;
    margin-left: 29px;
    text-transform: uppercase;
  }
}