.orders-header {
  height: 64px;
  background-color: #5A82B1;
  padding: 0 22px;
  color: #FAF7FB;

  .orders-title {
    font-size: 21px;
  }

  .orders-filter {
    width: 40vw;
    font-size: 15px;
    border-bottom: 1px solid #FAF7FB;
    padding: 5px;
    caret-color: #fff;

    &::placeholder {
      color: #FAF7FB
    }
  }
}

.orders {
  mat-cell, mat-header-cell {
    justify-content: center;
    div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}