/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~angular-calendar/scss/angular-calendar.scss';
@import "~highlight.js/styles/androidstudio.css";
@import "~quill/dist/quill.snow.css";
@import "~simplebar/dist/simplebar.css";
@import "./assets/font-icons/style.css";

@import "styles/var";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "styles/themes";
@import "styles/tables";
@import "styles/cards";
@import "styles/inbox";
@import "styles/calendar";
@import "styles/misc";
@import "styles/forms";
@import "styles/tabs";
@import "styles/utilities";
@import "styles/custom";

@keyframes pageLoad {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fury-page-load-animation {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: pageLoad ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  animation-delay: 600ms;
  background: $sidenav-background;
  z-index: 9999;
  pointer-events: none;
}

i {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #5A82B1 !important;
}

.snapshot-bar-tooltip {
  background-color: black !important;
	color: white !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.main-header {
  height: 64px;
  background-color: #5A82B1;
  color: white;
  font-size: 21px;
  padding: 0 22px;
}

.main-content {
  margin: 0 !important;
  padding: 16px 0 0 16px;
}

.data-table {
  max-width: 1200px;
}
.main-table {
  .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
  }
}

.table-click-cell {
  cursor: pointer;
  text-decoration: underline;
}

.production-summary-menu {
  .menu-list-header {
    font-size: 15px;
    padding: 0 15px 0 10px;
  }
  .mat-menu-item .mat-menu-ripple {
    pointer-events: auto;
  }
}

.summary-expalin-tooltip {
  position: absolute;
  max-width: 250px;
  font-size: 14px;
  text-align: left;
  padding: 10px 15px;
  background: white;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
  box-shadow:0 0 10px 5px rgba(0,0,0,0.19);
  .title {
    font-size: 15px;
    font-weight: 500;
  }
  .description {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 300;
  }
  &:after {
    content: "";
    position: absolute;
    border-style: solid;
  }

  &.summary-expalin-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-color: black transparent transparent transparent;
  }
  &.summary-expalin-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-color: transparent transparent #EFEFEF transparent;
  }
  &.summary-expalin-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-color: transparent transparent transparent black;
  }
  &.summary-expalin-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-color: transparent black transparent transparent;
  }
  &.summary-expalin-tooltip-show {
    opacity: 1;
  }
}





.custom-dialog {
  .mat-form-field-flex {
    background-color: transparent !important;
    padding: 0 !important;
  }
  .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
  }
  .mat-form-field-infix {
    padding: 0.3em 0 !important;
  }
  mat-form-field {
    padding: 2px !important;
  }
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }

  .mat-dialog-content {
    padding: 0 20px;
    margin: 0;
    font-size: 16px;
    overflow: hidden !important;
  }

  &-toolbar {
    background-color: #5A82B1;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    height: 64px;
    padding: 0 16px;
    align-items: center;
  }

  .add-btn {
    background-color: #5A82B1;
    color: white !important;
  }

  .cancel-btn {
    color: #5A82B1;
  }
}
#print-body {
  display: none;
}

@page {
  margin: 0mm;
}

@media print {
  html, body {
      height: 100%;
      overflow: visible !important;
      -webkit-print-color-adjust: exact;
  }
  .cdk-overlay-container, .cdk-overlay-backdrop, .cdk-visually-hidden {
      display: none;
  }
  .mat-dialog-container {
      height: 100% !important;
      width: 100%;
      display: none !important;
  }
  fury-root > * { display: none; }

  #print-body {
    display: block;
  }

  .page-break {
      display: block !important;
      width: 100%;
      page-break-before: always !important;

  }

  #print-content {
      width: 100%;
      display: block !important;
      float: none !important;
      .page-content {
          display: block !important;
          width: 100% !important;
          box-shadow: none;
          page-break-before: always;
      }
  }

}

.dc-pareto-chart {
  .axis {
    path, line {
      stroke: #EDEDED !important;
    }

    text {
      fill: #727272 !important;
      font-size: 10px;
    }
  }
  g.row {
    text {
      fill: #C3D1E0 !important;
      font-size: 13px;
    }
    .deselected + text {
      fill: #656565 !important;
    }
  }

  rect {
    fill-opacity: 1 !important;
  }
  .grid-line {
    stroke: #EDEDED !important;
  }
  .reset {
    color: #4682b4;
  }
}
