.coil-detail-content {
  height: 90px;
  padding: 16px 53px;

  .content-value {
    font-size: 17px;
    color: #424243;
    margin-left: 10px;
  }

  .content-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    color: #6F7070;
  }
}

.coil-history-table {
  .table-title {
    font-size: 20px;
    color: #424243;
    line-height: 30px;
  }
  padding: 0 24px;
}
